body {
    padding-left: 10%;
    padding-right: 10%;
}


form {
    margin-top: 10%;
}
textarea {
    width: 80%;
    height: 300px;
    text-overflow-y: scroll
}
.result {
    margin-top: 50px;
    color: orangered;
}