body {
    padding-left: 10%;
    padding-right: 10%;
}


form {
    margin-top: 10%;
}

.form-group textarea {
    width: 80%;
    height: 150px;
    text-overflow-y: scroll
}

.result textarea{
    margin-top: 20px;
    background: black;
    color: white;
    height: 100px;
    width: 60%;
}